<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="author" content="Ashen Gunaratne" />

  <title>Build Statuses</title>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap-reboot.min.css" integrity="sha512-gl/07tE1atRY5leOa5GtQa/pclV529xEP5cDTIdU1rj7vDh4KKz3nHrP7DsTBx3F++ihOqZGdcRTfOvrU/JF4g==" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles.css" />

  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" integrity="sha512-QJsj3afWlCpnQ60XzzYE8Jb3IgHIK1BcGZox9rUSmRRq3Ocz9vQ1yR80eX2/b9jfx/UuT5zYWNdrM8Te/eCMhQ==" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous" defer="defer"></script>

  <script src="/poll.js"></script>
  <script src="/slug.js"></script>
  <script src="/transformer.js"></script>
  <script src="/components.js"></script>

  <script>

    var populate = function populateRepoStatuses (data) {

      var repos = [];

      for (var repo of Array.prototype.concat.apply([], data)) {

        var inset = {
          $slug: repo.slug,
          $custodian: repo.custodian,
          $branches: Array.prototype.concat.apply([], repo.branches),
          $latest: { branch: undefined },
          $expand: false
        };

        for (var branch of inset.$branches) {
          inset[branch] = { branch: { name: branch } };
        }

        repos.push(inset);
        refresh(inset);

      }

      window.vue = new Vue({ el: '#vue', data: { repos: repos }, methods: { refresh: refresh } });

    };

    var refresh = function updateAllBranchStatuses (repo) {

      for (var branch of repo.$branches.concat('')) {
        Poll[repo.$custodian](repo, branch);
      }

    };

    document.onreadystatechange = function onDOMContentLoaded () {

      if (document.readyState !== 'interactive') {
        return false;
      }

      fetch('/builds.json').then(function (response) {

        if (response.ok) {
          return response.json();
        }

        // TODO
        // standardise error handling

      }).then(populate);

    };

  </script>

</head>
<body>
  <header>
  </header>
  <main id="vue">
    <div class="repo" v-for="repo in repos" v-bind:class="[ repo.$latest.state, { expand: repo.$expand } ]">
      <div class="header">
        <div class="slug">
          <v-slug v-bind:slug="repo.$slug" v-bind:custodian="repo.$custodian"></v-slug>
        </div>
        <div class="builds">
          <div class="build">
            <p class="label branch">BRANCH</p>
            <p class="label ref">LAST BUILD</p>
            <p class="label commit">COMMIT</p>
            <p class="label end">FINISHED</p>
          </div>
          <div class="build">
            <p class="branch">
              <v-branch v-bind:branch="repo.$latest.branch">&#8734;</v-branch>
            </p>
            <p class="ref">
              <v-ref v-bind:href="repo.$latest.url" v-bind:number="repo.$latest.number"
              >&#8734;</v-ref>
            </p>
            <p class="commit">
              <v-checksum v-bind:commit="repo.$latest.commit">&#8734;</v-checksum>
            </p>
            <p class="end">
              <v-end v-bind:end="repo.$latest.finished_at">&#8734;</v-end>
            </p>
          </div>
        </div>
        <a class="refresh" href="javascript:void(0)" v-on:click.passive="refresh(repo)">&#8635;</a>
      </div>
      <div class="builds">
        <div class="build" v-for="branch in repo.$branches">
          <p class="state" v-bind:class="repo[branch].state">&#8226;</p>
          <p class="branch">
            <v-branch v-bind:branch="repo[branch].branch">&#8734;</v-branch>
          </p>
          <p class="ref">
            <v-ref v-bind:href="repo[branch].url" v-bind:number="repo[branch].number">&#8734;</v-ref>
          </p>
          <p class="commit">
            <v-checksum v-bind:commit="repo[branch].commit">&#8734;</v-checksum>
          </p>
          <p class="end">
            <v-end v-bind:end="repo[branch].finished_at">&#8734;</v-end>
          </p>
        </div>
      </div>
      <div class="footer" v-if="repo.$branches.length" v-on:click.passive="repo.$expand = !repo.$expand"></div>
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>
<!-- vim: set expandtab shiftwidth=2 syntax=xhtml: -->
